body {
  display: flex;
  background-color: #111;
  color: #fff;
}

.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textAnimate {
  font-size: 20px;
  animation: vaivem 20s infinite alternate;
}

@keyframes vaivem {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.text {
  padding-top: 20%;
  font-size: 18px;
}

.text #lastI {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 900;
}